In [1]:
Output = ('/Users/alexis/Library/CloudStorage/OneDrive-UniversityofNorthCarolinaatChapelHill/CEMALB_DataAnalysisPM/Projects/P1011. Emission Mixtures/P1011.3. Analyses/P1011.3.2. Biomarker Cluster Analysis/Output')
cur_date = "041423"

library(readxl)
library(tidyverse)
library(reshape2)
library(factoextra)

# reading in files
mRNA_df = data.frame(read_excel("Input/mRNA_Data_041423.xlsx", sheet = 2))
proteomics_5_df = data.frame(read_excel("Input/Proteomics_Data_5ug_040423.xlsx", sheet = 2))
proteomics_25_df = data.frame(read_excel("Input/Proteomics_Data_25ug_040423.xlsx", sheet = 2))

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.0      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘reshape2’


The following object is masked from ‘package:tidyr’:

    smiths


Welcome! Want to learn more? See two factoextra-related books at https://goo.gl/ve3WBa

In [2]:
head(mRNA_df)
head(proteomics_25_df)

  Subject_No Subject_ID mRNA    Condensate Burn_Condition Concentration
1 1          F_1        ALDH1A3 C          F              1
2 2          M_2        ALDH1A3 C          F              1
3 3          M_3        ALDH1A3 C          F              1
4 4          F_4        ALDH1A3 C          F              1
5 6          M_6        ALDH1A3 C          F              1
6 1          F_1        ALDH1A3 C          F              1
  Time_Point ddCT       ddCT_pslog2
1 24         -6.6824749 4.480105
2 24          0.2560009 4.870661
3 24          0.4318636 4.879307
4 24          0.4193253 4.878692
5 24         -0.1550695 4.850246
6 72         -0.2119125 4.847400

  Subject_No Subject_ID Protein_Accession Gene_Name
1 1          F_1        CO3_HUMAN         C3
2 2          M_2        CO3_HUMAN         C3
3 3          M_3        CO3_HUMAN         C3
4 4          F_4        CO3_HUMAN         C3
5 5          F_5        CO3_HUMAN         C3
6 6          M_6        CO3_HUMAN         C3
  Description                                           Condensate
1 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
2 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
3 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
4 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
5 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
6 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
  Burn_Condition Concentration Intensity  Intensity_pslog2
1 F              25            1488600000 30.47131
2 F              25            3806600000 31.82586
3 F              25            3900000000 31.86083
4 F              25            5373200000 32.32313
5 F              25            2595200000 31.27320
6 F              25            5780700000 32.42860

This analysis will use PCA & k means to explore to determine if each biomarker clusters into groups.

In [33]:
# dim(mRNA_df)
# mRNA_df[sort(duplicated(mRNA_df[,1:7])),]

test = mRNA_df %>%#[duplicated(mRNA_df[,1:7]),] %>%
    group_by(mRNA, Subject_ID, Condensate, Burn_Condition, Concentration, Time_Point) %>%
    #add_tally()
    mutate(count = n()) %>% 
    arrange(-count) #%>%
    #mutate(count2 = ifelse(count == 2, 1:count, NA))
head(test)

  Subject_No Subject_ID mRNA  Condensate Burn_Condition Concentration
1 6          M_6        HMOX1 PBS        PBS            NA
2 6          M_6        HMOX1 PBS        PBS            NA
3 6          M_6        HMOX1 PBS        PBS            NA
4 6          M_6        HMOX1 PBS        PBS            NA
5 6          M_6        HMOX1 PBS        PBS            NA
6 6          M_6        HMOX1 PBS        PBS            NA
  Time_Point ddCT        ddCT_pslog2 count
1 24          0.70848207 4.892803    6
2 24          0.36651641 4.876100    6
3 24         -0.09090465 4.853452    6
4 24         -0.37654696 4.839126    6
5 24          0.72283828 4.893500    6
6 24          0.37135970 4.876338    6

In [63]:
# WORDS
replicate_index_count_df = data.frame()
for(i in 1:length(test$Subject_ID)){
    # taking care of edge case
    if(i > 1){
        # if the value of the count is less than the one before it do this
        if(test$count[i] < test$count[i - 1]){
            # saving index and replicate number
            index = i - 1
            count_number = test$count[i - 1]
            replicate_index_count_df = rbind(replicate_index_count_df, c(index, count_number))

        }
    }
}

# adding column names
colnames(replicate_index_count_df) = c("Index", "Replicate_Count")

replicate_index_count_df

  Index Replicate_Count
1    6  6
2   86  5
3  414  4
4  510  3
5 1850  2

In [90]:
# these numbers exactly what we need...
# the previous index needs to be subtracted from the next and divided by the replicate count

vector = c()
for (i in 1:length(replicate_index_count_df$Index)){
    if (i > 1){
        new_index = (replicate_index_count_df$Index[i] - replicate_index_count_df$Index[i - 1])/ replicate_index_count_df$Replicate_Count[i]
        #print(new_index)
        Replicate_Iteration = rep(1:replicate_index_count_df$Replicate_Count[i], new_index)
        vector = c(vector, length(Replicate_Iteration))
    }
}

sum(vector)

[1] 1844

In [83]:
# # creating a column based on the above df
# Replicate_Number = c()
# for (i in 1:length(replicate_index_count_df$Index)){
#     Replicate_Iteration = rep(1:replicate_index_count_df$Replicate_Count[i], 
#                               times = replicate_index_count_df$Index[i])

#     Replicate_Number = c(Replicate_Number, Replicate_Iteration)
# }

# length(Replicate_Number)
length(rep(1:replicate_index_count_df$Replicate_Count[2], 
           times = (replicate_index_count_df$Index[2] - replicate_index_count_df$Index[1])/ replicate_index_count_df$Replicate_Count[2]))

[1] 80

In [84]:
test %>%
    filter(count == 6)

  Subject_No Subject_ID mRNA  Condensate Burn_Condition Concentration
1 6          M_6        HMOX1 PBS        PBS            NA
2 6          M_6        HMOX1 PBS        PBS            NA
3 6          M_6        HMOX1 PBS        PBS            NA
4 6          M_6        HMOX1 PBS        PBS            NA
5 6          M_6        HMOX1 PBS        PBS            NA
6 6          M_6        HMOX1 PBS        PBS            NA
  Time_Point ddCT        ddCT_pslog2 count
1 24          0.70848207 4.892803    6
2 24          0.36651641 4.876100    6
3 24         -0.09090465 4.853452    6
4 24         -0.37654696 4.839126    6
5 24          0.72283828 4.893500    6
6 24          0.37135970 4.876338    6

In [21]:
# pivoting longer but first creating sample ids
wider_mRNA_df = mRNA_df %>%
    # creating a column that denotes the biomarker
    mutate(Biomarker = "mRNA") %>%
    # creating a column for the sample number to deal with replicates
    #mutate(Sample_No = 1:dim(mRNA_df)[1]) %>%
    # creating sample ids
    unite("Sample_ID", c(colnames(mRNA_df)[c(4:7)], "Biomarker")) %>%
    select(-c("Subject_No", "ddCT")) %>%
    pivot_wider(names_from = "Subject_ID", values_from = "ddCT_pslog2") %>%
    filter(mRNA == unique(mRNA_df$mRNA)[1])

wider_mRNA_df

Warning message:
“Values from `ddCT_pslog2` are not uniquely identified; output will contain list-cols.
* Use `values_fn = list` to suppress this warning.
* Use `values_fn = {summary_fun}` to summarise duplicates.
* Use the following dplyr code to identify duplicates.
  {data} %>%
    dplyr::group_by(mRNA, Sample_ID, Subject_ID) %>%
    dplyr::summarise(n = dplyr::n(), .groups = "drop") %>%
    dplyr::filter(n > 1L)”

   mRNA    Sample_ID          F_1
1  ALDH1A3 C_F_1_24_mRNA      4.480105
2  ALDH1A3 C_F_1_72_mRNA      4.8474
3  ALDH1A3 C_S_1_24_mRNA      NULL
4  ALDH1A3 C_S_1_72_mRNA      4.875436
5  ALDH1A3 C_F_25_4_mRNA      4.850829, 4.843997
6  ALDH1A3 C_F_25_24_mRNA     4.891977
7  ALDH1A3 C_F_25_72_mRNA     4.904412
8  ALDH1A3 C_S_25_4_mRNA      4.910852, 4.895969
9  ALDH1A3 C_S_25_24_mRNA     4.865115
10 ALDH1A3 C_S_25_72_mRNA     4.863581
11 ALDH1A3 C_F_5_24_mRNA      4.852078
12 ALDH1A3 C_F_5_72_mRNA      4.88576
13 ALDH1A3 C_S_5_24_mRNA      4.896351
14 ALDH1A3 C_S_5_72_mRNA      4.887916
15 ALDH1A3 PBS_PBS_NA_4_mRNA  4.876320, 4.890888, 4.844786, 4.845574
16 ALDH1A3 PBS_PBS_NA_24_mRNA 4.888831
17 ALDH1A3 PBS_PBS_NA_72_mRNA 4.878569
18 ALDH1A3 P_F_1_24_mRNA      4.845445
19 ALDH1A3 P_F_1_72_mRNA      4.848046
20 ALDH1A3 P_S_1_24_mRNA      4.905524
21 ALDH1A3 P_S_1_72_mRNA      4.853378
22 ALDH1A3 P_F_25_4_mRNA      4.810504, 4.831430
23 ALDH1A3 P_F_25_24_mRNA     4.810172
24 ALDH1A3 P_F_25_72_mRNA     4.829612
25 ALDH1A3 P_S_25_4_mRNA      4.824959, 4.829181
26 ALDH1A3 P_S_25_24_mRNA     4.842796
27 ALDH1A3 P_S_25_72_mRNA     4.835922
28 ALDH1A3 P_F_5_24_mRNA      4.848012
29 ALDH1A3 P_F_5_72_mRNA      4.813499
30 ALDH1A3 P_S_5_24_mRNA      4.853442
31 ALDH1A3 P_S_5_72_mRNA      4.839314
   M_2
1  4.870661
2  4.853069
3  4.842062
4  4.885058
5  4.858401, 4.862782
6  4.881552
7  4.89836
8  4.864358, 4.861943
9  4.842453
10 4.860546
11 4.896359
12 4.872432
13 4.893754
14 4.869468
15 4.856247, 4.876783, 4.871677, 4.841227
16 4.896734
17 4.893723
18 4.829967
19 4.871958
20 4.898421
21 4.854405
22 4.816610, 4.800747
23 4.848179
24 4.847293
25 4.810507, 4.808265
26 4.827266
27 4.8298
28 4.835877
29 4.815321
30 4.829114
31 4.859194
   M_3
1  4.879307
2  4.850874
3  4.869919
4  4.868836
5  4.898830, 4.887884
6  4.863584
7  4.849387
8  4.891048, 4.885630
9  4.851229
10 4.866387
11 4.891801
12 4.840455
13 4.872825
14 4.861522
15 4.878034, 4.864667, 4.834225, 4.875710
16 4.873411
17 4.850795
18 4.869094
19 4.877072
20 4.876475
21 4.839267
22 4.862093, 4.857604
23 4.835176
24 4.858131
25 4.878519, 4.883643
26 4.839768
27 4.825317
28 4.851475
29 4.841409
30 4.808418
31 4.868443
   F_4
1  4.878692
2  4.881133
3  4.863741
4  4.858839
5  4.861283, 4.873939
6  4.861217
7  4.874381
8  4.867805, 4.871020
9  4.913267
10 4.888944
11 4.906015
12 4.878329
13 4.893257
14 4.885305
15 4.870907, 4.860778, 4.883914, 4.826807
16 4.894228
17 4.893108
18 4.813925
19 4.871184
20 4.883851
21 4.835402
22 4.838533, 4.847058
23 4.820671
24 4.8421
25 4.856294, 4.869173
26 4.835877
27 4.824914
28 4.840135
29 4.859243
30 4.837411
31 4.781408
   M_6
1  4.850246
2  4.844027
3  4.91511
4  4.885779
5  4.861486, 4.857343
6  4.875984
7  4.865843
8  4.892004, 4.882764
9  4.851951
10 4.865108
11 4.894012
12 4.850001
13 4.882496
14 4.841208
15 4.848714, 4.837936, 4.872918, 4.867765
16 4.899654
17 4.851576
18 4.871846
19 4.920011
20 4.847409
21 4.827089
22 4.840220, 4.837889
23 4.847172
24 4.832518
25 4.856855, 4.658243
26 4.835081
27 4.84113
28 NULL
29 4.802611
30 4.835767
31 4.850003
   F_5
1  NULL
2  4.877173
3  4.902314
4  4.879357
5  NULL
6  4.877587
7  4.868691
8  4.860395, 4.862442
9  4.898058
10 4.886108
11 4.900746
12 4.875289
13 4.890618
14 4.864287
15 4.832332, 4.864257, 4.877780, 4.864707
16 4.908853
17 4.889988
18 4.87892
19 4.894727
20 4.842586
21 4.839645
22 4.852178, 4.849974
23 4.853957
24 4.836837
25 4.86835
26 4.833138
27 4.823411
28 4.841734
29 4.813499
30 4.81442
31 4.785825

In [32]:
head(proteomics_25_df)
head(proteomics_5_df)

  Subject_No Subject_ID Protein_Accession Gene_Name
1 1          F_1        CO3_HUMAN         C3
2 2          M_2        CO3_HUMAN         C3
3 3          M_3        CO3_HUMAN         C3
4 4          F_4        CO3_HUMAN         C3
5 5          F_5        CO3_HUMAN         C3
6 6          M_6        CO3_HUMAN         C3
  Description                                           Condensate
1 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
2 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
3 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
4 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
5 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
6 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
  Burn_Condition Concentration Intensity  Intensity_pslog2
1 F              25            1488600000 30.47131
2 F              25            3806600000 31.82586
3 F              25            3900000000 31.86083
4 F              25            5373200000 32.32313
5 F              25            2595200000 31.27320
6 F              25            5780700000 32.42860

  Subject_No Subject_ID Protein_Accession Gene_Name
1 1          F_1        CO3_HUMAN         C3
2 2          M_2        CO3_HUMAN         C3
3 3          M_3        CO3_HUMAN         C3
4 5          F_5        CO3_HUMAN         C3
5 6          M_6        CO3_HUMAN         C3
6 4          F_4        CO3_HUMAN         C3
  Description                                           Condensate
1 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
2 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
3 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
4 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
5 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
6 Complement C3 OS=Homo sapiens OX=9606 GN=C3 PE=1 SV=2 C
  Burn_Condition Concentration Intensity Intensity_pslog2
1 F              5             1.16e+09  30.11148
2 F              5             1.29e+09  30.26472
3 F              5             2.87e+09  31.41840
4 F              5             2.91e+09  31.43837
5 F              5             5.96e+09  32.47267
6 F              5             4.57e+09  32.08955

In [33]:
wider_proteomics_25_df = proteomics_25_df %>%
    # creating a column that denotes the biomarker
    mutate(Biomarker = "Protein") %>%
    # creating sample ids
    unite("Sample_ID", c(colnames(proteomics_25_df)[c(3,6:8)], "Biomarker")) %>%
    select(-colnames(proteomics_25_df)[c(1,4,5,9)]) %>%
    pivot_wider(names_from = "Subject_ID", values_from = "Intensity_pslog2")

wider_proteomics_5_df = proteomics_5_df %>%
    # creating a column that denotes the biomarker
    mutate(Biomarker = "Protein") %>%
    # creating sample ids
    unite("Sample_ID", c(colnames(proteomics_5_df)[c(3,6:8)], "Biomarker")) %>%
    select(-colnames(proteomics_5_df)[c(1,4,5,9)]) %>%
    pivot_wider(names_from = "Subject_ID", values_from = "Intensity_pslog2")

# creating 1 df
wider_proteomics_df = rbind(wider_proteomics_25_df, wider_proteomics_5_df)
head(wider_proteomics_df)

  Sample_ID                    F_1      M_2      M_3      F_4      F_5
1 CO3_HUMAN_C_F_25_Protein     30.47131 31.82586 31.86083 32.32313 31.27320
2 CO3_HUMAN_C_S_25_Protein     31.95699 31.17766 32.27534 33.11253 31.32839
3 CO3_HUMAN_PBS_PBS_25_Protein 28.35565 30.75581 31.88987 32.22239 31.53371
4 CO3_HUMAN_P_F_25_Protein     31.09012 31.49596 32.07058 33.27462 31.81062
5 CO3_HUMAN_P_S_25_Protein     31.06664 31.42337 32.18299 33.80097 31.79819
6 K1C19_HUMAN_C_F_25_Protein   32.48738 34.19938 31.95404 32.58571 32.79860
  M_6
1 32.42860
2 31.60576
3 33.69975
4 32.34631
5 33.90464
6 31.79231