In [1]:
Output = ('/Users/alexis/Library/CloudStorage/OneDrive-UniversityofNorthCarolinaatChapelHill/CEMALB_DataAnalysisPM/Projects/P1011. Emission Mixtures/P1011.3. Analyses/P1011.3.1. Data Cleaning & Imputation/Output')
cur_date = "041923"

library(readxl)
library(tidyverse)
library(reshape2)

# reading in files
mRNA_df = data.frame(read_excel("Input/mRNA_Data_041423.xlsx", sheet = 2))

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.0      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘reshape2’


The following object is masked from ‘package:tidyr’:

    smiths

In [2]:
head(mRNA_df)

  Subject_No Subject_ID mRNA    Condensate Burn_Condition Concentration
1 1          F_1        ALDH1A3 C          F              1
2 2          M_2        ALDH1A3 C          F              1
3 3          M_3        ALDH1A3 C          F              1
4 4          F_4        ALDH1A3 C          F              1
5 6          M_6        ALDH1A3 C          F              1
6 1          F_1        ALDH1A3 C          F              1
  Time_Point ddCT       ddCT_pslog2
1 24         -6.6824749 4.480105
2 24          0.2560009 4.870661
3 24          0.4318636 4.879307
4 24          0.4193253 4.878692
5 24         -0.1550695 4.850246
6 72         -0.2119125 4.847400

In [3]:
# identifying the number of replicates for each sample condition
count_mRNA_df = mRNA_df %>%
    group_by(mRNA, Subject_ID, Condensate, Burn_Condition, Concentration, Time_Point) %>%
    mutate(Duplicate_Count = n()) %>% 
    arrange(-Duplicate_Count, mRNA, Subject_No, Condensate, Burn_Condition, Concentration, Time_Point) 

head(count_mRNA_df)

  Subject_No Subject_ID mRNA  Condensate Burn_Condition Concentration
1 6          M_6        HMOX1 PBS        PBS            NA
2 6          M_6        HMOX1 PBS        PBS            NA
3 6          M_6        HMOX1 PBS        PBS            NA
4 6          M_6        HMOX1 PBS        PBS            NA
5 6          M_6        HMOX1 PBS        PBS            NA
6 6          M_6        HMOX1 PBS        PBS            NA
  Time_Point ddCT        ddCT_pslog2 Duplicate_Count
1 24          0.70848207 4.892803    6
2 24          0.36651641 4.876100    6
3 24         -0.09090465 4.853452    6
4 24         -0.37654696 4.839126    6
5 24          0.72283828 4.893500    6
6 24          0.37135970 4.876338    6

In [4]:
replicate_count_df = count_mRNA_df %>%
    group_by(Duplicate_Count) %>%
    count() %>%
    arrange(-Duplicate_Count) 

replicate_count_df

  Duplicate_Count n
1 6                  6
2 5                 80
3 4                328
4 3                 96
5 2               1340
6 1               2361

In [5]:
# creating a new column for replicate number
replicate_vector = c()
for (i in 1:length(replicate_count_df$n)){
    # calculating number of times to repeat the replicate number from 1 to the count
    replicate_count = replicate_count_df$n[i]/replicate_count_df$Duplicate_Count[i]
    replicate_iteration = rep(1:replicate_count_df$Duplicate_Count[i], times = replicate_count)
    
    # saving iteration
    replicate_vector = c(replicate_vector, replicate_iteration)
    
}

# adding to df 
count_mRNA_df$Replicate = replicate_vector
mRNA_df = count_mRNA_df %>%
    select(-Duplicate_Count)

head(mRNA_df)

  Subject_No Subject_ID mRNA  Condensate Burn_Condition Concentration
1 6          M_6        HMOX1 PBS        PBS            NA
2 6          M_6        HMOX1 PBS        PBS            NA
3 6          M_6        HMOX1 PBS        PBS            NA
4 6          M_6        HMOX1 PBS        PBS            NA
5 6          M_6        HMOX1 PBS        PBS            NA
6 6          M_6        HMOX1 PBS        PBS            NA
  Time_Point ddCT        ddCT_pslog2 Replicate
1 24          0.70848207 4.892803    1
2 24          0.36651641 4.876100    2
3 24         -0.09090465 4.853452    3
4 24         -0.37654696 4.839126    4
5 24          0.72283828 4.893500    5
6 24          0.37135970 4.876338    6

Removing variables and ids with less than 25% of data. However, ids will be removed after casting the data to a wide format and back to long.

In [6]:
# only keeping variables with at least 25% of data 
variable_presence_df = mRNA_df %>% 
    # creating 2 count cols: 1st for non-missing data, 2nd for all data
    mutate(data_count = ifelse(is.na(ddCT_pslog2), 0, 1), all_count = 1) %>%
    group_by(mRNA, Condensate, Burn_Condition, Concentration, Time_Point) %>%
    summarize(Variable_Presence_Percent = sum(data_count)/ sum(all_count) * 100) %>%
    arrange(Variable_Presence_Percent)

head(variable_presence_df)

`summarise()` has grouped output by 'mRNA', 'Condensate', 'Burn_Condition',
'Concentration'. You can override using the `.groups` argument.

  mRNA    Condensate Burn_Condition Concentration Time_Point
1 ALDH1A3 C          F              1             24
2 ALDH1A3 C          F              1             72
3 ALDH1A3 C          F              25             4
4 ALDH1A3 C          F              25            24
5 ALDH1A3 C          F              25            72
6 ALDH1A3 C          F              5             24
  Variable_Presence_Percent
1 100
2 100
3 100
4 100
5 100
6 100

In [8]:
# pivoting longer but first creating sample ids
missing_data_mRNA_df = mRNA_df %>%
    # creating a column that denotes the biomarker
    #mutate(Biomarker = "mRNA") %>%
    # creating a column for the sample number to deal with replicates
    #mutate(Sample_No = 1:dim(mRNA_df)[1]) %>%
    # creating sample ids
    unite("Sample_ID", c(colnames(mRNA_df)[c(4:7,10)])) %>%
    select(-c("Subject_No", "ddCT")) %>%
    pivot_wider(names_from = "Subject_ID", values_from = "ddCT_pslog2") %>%
    pivot_longer(cols = 3:8, names_to = "Subject_ID", values_to = "ddCT_pslog2") %>%
    separate(Sample_ID, c("Condensate", "Burn_Condition", "Concentration", "Time_Point", "Replicate"))

head(missing_data_mRNA_df)

  mRNA  Condensate Burn_Condition Concentration Time_Point Replicate Subject_ID
1 HMOX1 PBS        PBS            NA            24         1         M_6
2 HMOX1 PBS        PBS            NA            24         1         F_5
3 HMOX1 PBS        PBS            NA            24         1         F_1
4 HMOX1 PBS        PBS            NA            24         1         M_2
5 HMOX1 PBS        PBS            NA            24         1         M_3
6 HMOX1 PBS        PBS            NA            24         1         F_4
  ddCT_pslog2
1 4.892803
2       NA
3       NA
4       NA
5       NA
6       NA

In [21]:
# only keeping ids with at least 25% of data 
subject_presence_df = missing_data_mRNA_df %>% 
    # creating 2 count cols: 1st for non-missing data, 2nd for all data
    mutate(data_count = ifelse(is.na(ddCT_pslog2), 0, 1), all_count = 1) %>%
    group_by(mRNA, Condensate, Burn_Condition, Concentration, Time_Point, Subject_ID) %>%
    summarize(Subject_Presence_Percent = sum(data_count)/ sum(all_count) * 100) %>%
    arrange(Subject_Presence_Percent)

head(subject_presence_df) 

# getting the proteins in the entire set that will be removed
removed_subjects_df = subject_presence_df %>%
    filter(Subject_Presence_Percent < 50)

# getting number of sample conditions to be removed
dim(removed_subjects_df)[1]

`summarise()` has grouped output by 'mRNA', 'Condensate', 'Burn_Condition',
'Concentration', 'Time_Point'. You can override using the `.groups` argument.

  mRNA    Condensate Burn_Condition Concentration Time_Point Subject_ID
1 ALDH1A3 C          F              1             24         F_5
2 ALDH1A3 C          F              25            4          F_5
3 ALDH1A3 C          S              1             24         F_1
4 ALDH1A3 P          F              5             24         M_6
5 ALDH3A1 C          F              1             24         M_6
6 ALDH3A1 C          F              1             72         M_6
  Subject_Presence_Percent
1 0
2 0
3 0
4 0
5 0
6 0

[1] 420

Therefore, 420 sample conditions will be removed.

In [23]:
# removing those 420 sample conditions
filtered_mRNA_df = anti_join(missing_data_mRNA_df, removed_subjects_df)

head(filtered_mRNA_df)

Joining, by = c("mRNA", "Condensate", "Burn_Condition", "Concentration",
"Time_Point", "Subject_ID")

  mRNA  Condensate Burn_Condition Concentration Time_Point Replicate Subject_ID
1 HMOX1 PBS        PBS            NA            24         1         M_6
2 HMOX1 PBS        PBS            NA            24         2         M_6
3 HMOX1 PBS        PBS            NA            24         3         M_6
4 HMOX1 PBS        PBS            NA            24         4         M_6
5 HMOX1 PBS        PBS            NA            24         5         M_6
6 HMOX1 PBS        PBS            NA            24         6         M_6
  ddCT_pslog2
1 4.892803
2 4.876100
3 4.853452
4 4.839126
5 4.893500
6 4.876338

In [25]:
filtered_mRNA_df %>%
    # creating a column that denotes the biomarker
    #mutate(Biomarker = "mRNA") %>%
    # creating a column for the sample number to deal with replicates
    #mutate(Sample_No = 1:dim(mRNA_df)[1]) %>%
    # creating sample ids
    unite("Sample_ID", c(colnames(mRNA_df)[c(4:7,10)])) %>%
    #select(-c("Subject_No", "ddCT")) %>%
    pivot_wider(names_from = "Subject_ID", values_from = "ddCT_pslog2")

     mRNA    Sample_ID       M_6      F_5      F_1      M_2      M_3
1    HMOX1   PBS_PBS_NA_24_1 4.892803       NA       NA       NA       NA
2    HMOX1   PBS_PBS_NA_24_2 4.876100       NA       NA       NA       NA
3    HMOX1   PBS_PBS_NA_24_3 4.853452       NA       NA       NA       NA
4    HMOX1   PBS_PBS_NA_24_4 4.839126       NA       NA       NA       NA
5    HMOX1   PBS_PBS_NA_24_5 4.893500       NA       NA       NA       NA
6    HMOX1   PBS_PBS_NA_24_6 4.876338       NA       NA       NA       NA
7    ALDH3A1 PBS_PBS_NA_4_1  4.831224 4.813108 4.923408 4.827360 4.856214
8    ALDH3A1 PBS_PBS_NA_4_2  4.824358 4.860738 4.866126 4.858750 4.836145
9    ALDH3A1 PBS_PBS_NA_4_3  4.917834 4.910775 4.870335 4.904902 4.842222
10   ALDH3A1 PBS_PBS_NA_4_4        NA 4.926804 4.824762 4.863779 4.910175
11   ALDH3A1 PBS_PBS_NA_4_5        NA 4.882399       NA       NA       NA
12   CXCL1   PBS_PBS_NA_4_1  4.864283 4.899987 4.872554 4.888897 4.859807
13   CXCL1   PBS_PBS_NA_4_2  4.900407 4.883782 4.800233 4.876248 4.866551
14   CXCL1   PBS_PBS_NA_4_3  4.867440 4.881129 4.887466 4.906948 4.881443
15   CXCL1   PBS_PBS_NA_4_4        NA 4.868957 4.889204 4.902662 4.894271
16   CXCL1   PBS_PBS_NA_4_5        NA 4.913637       NA       NA       NA
17   CXCR1   PBS_PBS_NA_4_1  4.005903 4.202169 3.970182 3.940066 3.960566
18   CXCR1   PBS_PBS_NA_4_2  4.037462 4.020422 3.910357 3.986716 3.889969
19   CXCR1   PBS_PBS_NA_4_3  4.059522 4.097459 3.907566 3.969060 4.016017
20   CXCR1   PBS_PBS_NA_4_4        NA 3.882298 3.950485 3.888367 3.979700
21   CXCR1   PBS_PBS_NA_4_5        NA 4.043718       NA       NA       NA
22   GCLC    PBS_PBS_NA_4_1  4.877935 4.857629 4.903600 4.868638 4.880768
23   GCLC    PBS_PBS_NA_4_2  4.873151 4.885538 4.880876 4.867912 4.871077
24   GCLC    PBS_PBS_NA_4_3  4.918893 4.928790 4.922383 4.915633 4.909411
25   GCLC    PBS_PBS_NA_4_4        NA 4.925914 4.901486 4.907341 4.917411
26   GCLC    PBS_PBS_NA_4_5        NA 4.913845       NA       NA       NA
27   GCLM    PBS_PBS_NA_4_1  4.843786 4.824366 4.887832 4.843469 4.865037
28   GCLM    PBS_PBS_NA_4_2  4.861065 4.849061 4.869233 4.860410 4.850974
29   GCLM    PBS_PBS_NA_4_3  4.870094 4.904082 4.886141 4.895564 4.894654
30   GCLM    PBS_PBS_NA_4_4        NA 4.900476 4.875876 4.890921 4.893581
⋮    ⋮       ⋮               ⋮        ⋮        ⋮        ⋮        ⋮
1002 MUC5B   P_S_25_24_1     4.952607 5.037478 4.894411 4.878284 4.974670
1003 MUC5B   P_S_5_24_1      4.932237 5.069605 4.907174 4.868452 4.994071
1004 MUC5B   PBS_PBS_NA_24_1 4.979284 5.068697 4.900861 4.889592 5.092434
1005 NQO1    C_F_1_24_1            NA 4.857191 4.779458 4.858383 4.881522
1006 NQO1    C_S_1_24_1      4.869091 4.866553 4.848488 4.828025 4.801539
1007 NQO1    C_S_5_72_1      4.803289 4.837619 4.828289 4.787670 4.823366
1008 NQO1    P_F_1_72_1      4.833049 4.908188 4.840245 4.890922 4.890559
1009 NQO1    P_F_25_72_1     4.850353 4.871315 4.809744 4.874002 4.853839
1010 NQO1    P_F_5_72_1      4.845108 4.879455 4.886009 4.889298 4.864942
1011 NQO1    P_S_25_24_1     4.893518 4.815950 4.837525 4.802513 4.841758
1012 NQO1    P_S_5_24_1      4.884055 4.910907 4.910082 4.887181 4.847082
1013 NQO1    PBS_PBS_NA_24_1 4.840225 4.836307 4.784756 4.819148 4.822620
1014 TBP     C_F_1_24_1            NA 4.867073 4.864660 4.871121 4.865978
1015 TBP     C_S_1_24_1      4.867278 4.859013 4.859206 4.865123 4.862330
1016 TBP     C_S_5_72_1      4.853117 4.850788 4.825885 4.805863 4.836982
1017 TBP     P_F_1_72_1      4.876608 4.839959 4.837746 4.839325 4.834444
1018 TBP     P_F_25_72_1     4.858109 4.859298 4.847223 4.854116 4.852325
1019 TBP     P_F_5_72_1      4.854966 4.855627 4.839390 4.842321 4.832048
1020 TBP     P_S_25_24_1     4.863882 4.863995 4.867453 4.876843 4.851998
1021 TBP     P_S_5_24_1      4.853271 4.855347 4.864146 4.870573 4.858288
1022 TBP     PBS_PBS_NA_24_1 4.861164 4.863756 4.845427 4.842778 4.863954
1023 TXNRD1  C_F_1_24_1            NA 4.882967 4.866815 4.852485 4.877225
1024 TXNRD1  C_S_1_24_1      4.881028 4.906102 4.858516 4.892600 4.839210
1025 TXNRD1  C_S_5_72_1      4.894610 4.885697 4.842505 4.838093 4.854081
1026 TXNRD1  P_F_1_72_1      4.925417 4.878599 4.847109 4.863684 4.879883
1027 TXNRD1  P_F_25_72_1     4.843994 4.844485 4.827727 4.824642 4.832533
1028 TXNRD1  P_F_5_72_1      4.877736 4.870421 4.846776 4.854578 4.859436
1029 TXNRD1  P_S_25_24_1     4.871679 4.899805 4.844933 4.856110 4.857729
1030 TXNRD1  P_S_5_24_1      4.880472 4.912546 4.861356 4.863128 4.864599
1031 TXNRD1  PBS_PBS_NA_24_1 4.883556 4.901605 4.862396 4.849086 4.909398
     F_4
1          NA
2          NA
3          NA
4          NA
5          NA
6          NA
7    4.869645
8    4.833120
9    4.884000
10   4.807925
11         NA
12   4.830698
13   4.871651
14   4.885141
15   4.877051
16         NA
17   3.998954
18   4.054826
19   3.841806
20   3.994155
21         NA
22   4.886995
23   4.870795
24   4.912088
25   4.883955
26         NA
27   4.863444
28   4.853949
29   4.888173
30   4.869599
⋮    ⋮
1002 4.935807
1003 4.948700
1004 4.942372
1005 4.868781
1006       NA
1007 4.830774
1008 4.857544
1009 4.830843
1010 4.950420
1011 4.827495
1012 4.912452
1013 4.831467
1014 4.860631
1015       NA
1016 4.837349
1017 4.828885
1018 4.841512
1019 4.835491
1020 4.855306
1021 4.853123
1022 4.832835
1023 4.846384
1024       NA
1025 4.857256
1026 4.840974
1027 4.818441
1028 4.836371
1029 4.833488
1030 4.847302
1031 4.845209

# QRILC Imputation